.admin {
    padding-top: 10px;
    }
    
    .admin .parent-container {
        width: 600px;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 15px;
        margin: auto;
        background-color: lightgray;
        margin-left: 40px;
        text-align: left;
        font-weight: bold;
    
    }
    
    .admin h3 {
        text-align: center;
    }
    
    div.button.admin {
        padding-top: 15px;
    
    }